@font-face {
    font-family: NanumSquare;
    src: url('fonts/NanumSquareOTF_acR.otf');
}
@font-face {
    font-family: NanumSquare;
    font-weight: bold;
    src: url('fonts/NanumSquareOTF_acB.otf');
}